* {
    margin: 0;
    padding: 0;

}

body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

.subtitle {
    font-size: 20px;
}

.search-container {
    margin: 40px 0 0 0;
}


/* now im just wasting time */
@keyframes search-glow {
    0% {background-image: linear-gradient(red, black); color: blue}
    20% {background-image: linear-gradient(green, black); color: orange}
    33% {background-image: linear-gradient(cyan, black); color: red}
    50% {background-image: linear-gradient(darkorange, black); color: magenta}
    67% {background-image: linear-gradient(magenta, black); color: green}
    80% {background-image: linear-gradient(yellow, black); color: purple}
    100% {background-image: linear-gradient(red, black); color: green}
}

#search-terms {
    font-size: 24px;
    text-align: center;
    color: rgb(255, 226, 119);
    background-color: rgb(255, 81, 0);
    animation-name: search-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn {
    height: 24px;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    rotate: 360deg;
}

.recent-btn {
    transition: all 0.4s ease-in-out;
}

.recent-btn:hover {
    scale: 1.2;
    animation-name: search-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#recent-p {
    font-size: 20px;
    font-style: italic;
}

.recent-boxes-container {
    margin: 38px 0px;
    display: flex;
    justify-content: center;
}

.recent-boxes {
    margin: 0px 10px;
    display: flex;
}

.recent-btn {
    padding: 5px;
    max-height: 69px;
}

.hidden {
    display: none;
}

.result {
    font-size: 36px;
    text-align: center;
}

#first-result {
    margin: 20px 10px 30px 10px;
    height: 400px;
    text-shadow: 1px 1.5px rgb(220, 219, 219);
    box-shadow: 0px -7px 20px;
    background-color: rgb(135, 74, 227);
}

#lyric-snippet {
    font-size: 24px;
}

a:link {
    color: rgb(71, 147, 77);
}

a:visited {
    color: rgb(0, 115, 186);
}

#link-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

#link-container:hover {
    scale: 1.08;
