* {
    margin: 0;
    padding: 0;

}

body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

.btn {

    transition: all 0.4s ease-in-out;
}

.btn:hover {
    scale: 1.5;
    margin-left: -15px;
}



.result {
    font-size: 36px;
    text-align: center;
}

#first-result {
    margin-top: 20px;
    height: 400px;
    text-shadow: 1px 1.5px rgb(220, 219, 219);
    box-shadow: 0px -7px 20px;
    background-color: rgb(135, 74, 227);
}

#lyric-snippet {
    font-size: 24px;
}

a:link {
    color: rgb(71, 147, 77);
}

a:visited {
    color: rgb(0, 115, 186);
}

#link-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

#link-container:hover {
    scale: 1.08;
}